---
layout: page
tagline:
---
{% for post in site.posts %}

<article class="entry row">
<div class="col-sm-12">

  <div class="col-sm-7">
    <div class="index-img">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ post.preview | prepend: site.baseurl }}">
      </a>
    </div>
  </div>

  <div class="col-sm-5">
    <a href="{{ site.baseurl }}{{ post.url }}">
    <div class="info">
      <h2>
        {{ post.title }}
      </h2>

      <div class="blurb">
        {% if post.shortinfo %}
        <p>{{ post.shortinfo }}</p>
        {% endif %}
      </div>
    </div>
    </a>
  </div>

</div>
</article>
{% endfor %}