---
layout: page
tagline:
---
<div class="website-section" id="about">
    <article class="entry row">
        <div class="col-sm-12">

          <div class="col-sm-4">
            <div class="about-img">
              <img class="logo-img" src="{{ site.baseurl }}/images/2018chi.jpg"/>
            </div>
          </div>


          <div class="col-sm-8" style="padding-left:0;">
            <div class="info about-text">
                <p class="about-text">I am a mixed-method researcher with over 8 years of experience designing experiments, conducting interviews, and analyzing data in both industry and academia environments. I use a wide variety of research methods, e.g., log analysis, surveys, and user interviews, to understand people's pain points and needs. In my everyday work, I remind myself that I am users' strongest advocate. Only by addressing real users' problem can a product grow its value and impact organically. </p>

                <p class="about-text">I am currently a Senior User Experience Researcher at <a href="https://www.classkick.com/" target="_blank">Classkick</a>. Previously, I was a PhD student in the <a href="https://www.hcii.cmu.edu/" target="_blank">Human-Computer Interaction Institute</a> at <a href="https://www.cmu.edu/" target="_blank">Carnegie Mellon University</a>. Advised by <a href="http://www.cs.cmu.edu/~jasonh/" target="_blank">Jason Hong</a> and <a href="https://hcii.cmu.edu/people/robert-kraut" target="_blank">Robert Kraut</a>, I studied how social interactions influence one's subjective well-being. Specifically, by leveraging behavioral data and self-reports collected on smartphones, I applied statistical models, e.g., hierarchical linear models, to understand the role of different types of social interactions on one's well-being.</p>


                <p class="about-text">During the course of my PhD, I worked and consulted at Disney Research and Facebook. Prior to that, I received my B.S. in Cognitive Science at Carnegie Mellon University. Check out my <a href="{{ site.baseurl }}/resources/CV_Zhao.pdf" target="_blank">CV</a> or (much shorter) <a href="{{ site.baseurl }}/resources/resume_zhao.pdf" target="_blank">resume</a>.</p>
            </div>
        </div>
    </article>
</div>

<div class="website-section" id="research">

    <h3> Selected Projects </h3>
    <p id="page-description"> </p>
    <p id="page-description"> </p>
    {% for post in site.posts %}
    <div class="post-div" id="{{ post.categories }}">
      <article class="entry row">
          <div class="col-sm-12">

            <div class="col-sm-3">
              <div class="index-img">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <img src="{{ post.preview | prepend: site.baseurl }}">
                </a>
              </div>
            </div>


            <div class="col-sm-9">
              <div class="info">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <h2>
                    {{ post.title }}
                  </h2>
                </a>

                <div class="blurb">
                  {% if post.shortinfo %}
                  <p>{{ post.shortinfo }}</p>
                  {% endif %}
                </div>

                <div class="blurb-links">
                  {% if post.resources %}
              		<ul class="list-unstyled">
              			{% for res in post.resources %}
              				<li><a href= "{{ res.external-url }}" target="_blank">
                        {% if res.resource contains "Video" %}
                        <i class="fa fa-film" aria-hidden="true"></i>
                        {% elsif res.resource contains "Paper" %}
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        {% elsif res.resource contains "Poster" %}
                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        {% elsif res.resource contains "Prototype" %}
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        {% endif %}
                        {{ res.resource }}
                      </a></li>
              			{% endfor %}
              		</ul>
              		{% endif %}
                </div>
              </div>
            </div>

          </div>

      </article>
    </div>
    {% endfor %}

</div>
