@charset "UTF-8";
* {
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	background-color: #FFFFFF;
	height: 100%;
	padding: 0;
	color: rgba(49,49,49,1.00);
	-webkit-font-smoothing: antialiased;
}

header {
	font-size: 2em;
}

a {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}

h6 {
	padding-top: 1.5em;
	font-size: 1em;
	text-transform:uppercase;
	font-weight: bold;
	line-height: 2.8em;
	margin-bottom: 0;
	
	clear:both;
}
h5 {
	font-weight: bold;
	font-size: 1.4em;
	line-height: 3.3em;
	padding-top: 10pt;
	clear: both;
}
h4 {
	padding-top:1.5em;
	font-size: 1.4em;
	text-transform:uppercase;
	border-bottom: 1px solid #d6d6d6;
}

p {
	font-size: 1em;
	text-decoration: none;
	line-height: 2em;
}

p.extratopping{
	padding-top: 1.0em;
}

p.pub{
	line-height: 1.8em;
	margin-bottom: 0.8em;
}

/* Formatting of containers of all pages*/
/* -------------------------------------*/
#wrapper {
	background-color: #FFFfff;
	width: 80%;
	padding-bottom: 0px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}

/* Left hand side menu style */
/* -------------------------------------*/
#menunav {
	z-index: 20;
	background-color: #ffffff;
	position: fixed;
	width: 240px;
	padding-top: 80px;
	display: block;
	margin: 0px;
	border-right-style: none;
	border-color: rgba(0,0,0,1.00);
	border-right-width: thin;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}

#logo_img{
	width: 100%;
}

#logo {
	padding-bottom: 48px;
	font-family: "Droid Sans", sans-serif;
	font-weight: bold;
	font-size:2.3em;
}

#logo a{
	color: #FF9100;
}

#menunav ul {
	list-style-type: none;
	padding: 0;
	
}
	
#menunav #nav a{
	background-color: #fff;
	display: block;
	text-align: left;
	font-size: 1em;
	padding-top: 18px;
	border-color: rgba(119, 119,119,1.00);
	border-bottom-style: solid;
	border-width: thin;
	color: #666666;
	-webkit-transition: padding-left 0.3s ease-in-out;
	-moz-transition: padding-left 0.3s ease-in-out;
	-o-transition: padding-left 0.3s3 ease-in-out;
	-ms-transition: padding-left 0.3s3 ease-in-out;
	transition: padding-left 0.3s ease-in-out;
}

#nav{
	padding: 2em 0em 0 0em;
}

#menunav #nav a:hover {
	padding-left: 50px;
}

#menunav #nav a:active, #mainnav a:focus, #menunav #nav a.thispage{
	text-decoration: none;
	font-weight: bold;
	/*ovrwrite hover effect for active page */
	padding-left: 0;
	color: #FF9D00;
}

#menu_icon{
	position: absolute;
  	right: 20px;
  	top: 45px;
  	width: 2.3em;
  	height: 2.5em;
}

.line1, .line2, .line3{
	display: block;
	position: absolute;
	height: 0.25em;
	border-radius: 0.5em;
	width: 100%;
	left: 0;
	background: #FF9D00;
}

.line1{
	top: 0em;
}

.line2{
	top: 0.8em;
}

.line3{
	top: 1.6em;
}

#filter_list {
	margin: 5em 0.1em 0 0em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.6em;
	font-weight: bold;
	line-height: 1.5em;
}


#filter_list li { 
	display: inline-block;
	margin: 0.5em 0.2em ;
}

#filter_list a{
	display: block;
	background: #f2f2f2; 
	padding: 0.5em 0.8em 0.5em 0.8em;
	color: #666666;
	-webkit-transition: background-color .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out;
	-o-transition: background-color .4s ease-in-out;
	-ms-transition: background-color .4s ease-in-out;
	transition: background-color .4s ease-in-out;
}

#filter_list a:hover {
	background: #FFD18D;
}
	
#filter_list a.active {
	background: #FF9D00;
	color: #ffffff;
}

/* Content */
/* -------------------------------------*/
#content {
	display: block;
	width: auto;
	margin: 0 auto;
	padding-left: 290px;
	padding-top: 82px;
	font-family: "Droid Sans", sans-serif;
}

#content_header{
	margin-top:21px;
	width: auto;
	z-index: 21;
	background: #ffffff;
}
/* Non-functioning loading 
#loader { display: none;  }
#loader { display: block; margin: 100px auto; }
*/

/* Filters on the front page */
/* -------------------------------------*/

.container{
	display: block;
	width: 100%;
}

.container .item{
	display: none;
	width: 32.16%;
 	text-align: left;
  	margin-bottom: 1%;
  	margin-right: 0.5%;
	position: relative;
  	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
}


/* Tags on top of pages */
/* -------------------------------------*/
.portnav {
	padding: 0.3em 0px 3em 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: 0.5em;
	font-weight: bold;
	line-height: 1.5em;
}

.portnav a{
	display: inline;
	margin-left: 0.5em;
	padding: 0.5em 0.6em 0.5em 0.6em;
	color: #666666;
}

/* Formatting for main page grid area*/
/* -------------------------------------*/
.item img {
	height: auto;
	width: 100%;
	/*Align image to the baseline to delete white spacing*/
	vertical-align: bottom;
}

/*hover over overlay effect*/
/* -------------------------------------*/
.img-overlay {
	background-color: rgba(0,0,0,0.6);
	bottom: 0;
	left: 0;
	top: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 1000;
	transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}

.img-overlay h5{
	opacity: 1;
	display: inline-block;
	margin: auto;
	font-weight: normal;
	font-size: 1.2vw;
	line-height: 1.5vw;
	position: absolute;
	top: 40%;
	right: 10px;
	left: 10px;
	color: rgba(255,255,255,1.00);
	text-align: center;
}
.img-overlay p{
	opacity: 1;
	display: inline-block;
	margin: auto;
	position: absolute;
	top: 47%;
	right: 10px;
	left: 10px;
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-size: 1.2vw;
	line-height: 1vw;
	/*vertical-align: middle;*/
}

.item:hover .img-overlay {
	opacity: 1;
}

/* Elements for portfolio posts */
/* -------------------------------------*/
.title {
	margin-bottom: 1em;
	text-align:center;
	
}



/* Set width of the map on About me page to 100%
#map {
	width: 100%;
	height: 280px;
}*/
#footer {
	font-family:'Droid Sans', sans-serif;
	clear: both;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
	width: 100%;
	line-height: 40px;
	vertical-align: middle;
	font-size: small;
	position: relative;
	z-index: 30;
	vertical-align: bottom;
	font-weight: bold;
}

/* Responsive layout */
/* -------------------------------------*/
@media screen and (max-width: 960px){
	#wrapper{
		width:80%;
	}
  .container .item,
  .container .gap{
    width: 49%;
  }
}

@media screen and (max-width: 770px){
	#wrapper{
		width:100%;
	}
	
  #nav{
  	display: none;
  	padding-top: 1em;
  }

  #menunav{
  	width: 100%;
  	height: 120px;
  	padding: 10px 20px 15px 20px;
  	background-color: #fff;
  }

#filter_list{
	background-color: #fff;
	text-align: center;
	margin: 0;
	width: 100%;
}

#menunav #filter_list{
	padding-top: 2.4em;
	padding-bottom: 2.4em;
}

/*  #logo a{
  	color: #fff;
  }

  #logo{
  	padding-top: 18px;
  	padding-bottom: 0.25em;
  } */

  #logo_img{
  	width: 250px;
  }

  #content{
  	clear: both;
  	padding-left: 0px;
  	padding-top: 200px;
  	margin: 0px 20px;
  }

  #content_header{
  	margin-top: 0;
  }

  .img-overlay{
  	display: none;
  }

  #wrapper, #menunav #filter_list{
  		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-o-transition: all 1s linear;
		-ms-transition: all 1s linear;
		transition: all 1s linear;
  }
}

@media screen and (max-width: 450px){
  .container .item,
  .container .gap{
    width: 100%;
  }
  
  #menunav{
	  height: 100px;
  }
  
/*  #logo{
	  padding-top:0;
	  padding-bottom:0em;
  }*/

  #logo_img{
  	width: 200px;
  }
  #menunav #filter_list{
	padding-top: 1em;
	padding-bottom: 1em;
}
#menu_icon{
	top:35px;
	width: 2.1em;
	height: 2em;
}
#content{
	padding-top: 160px;
}

header{
	font-size:1.5em;
}

.line2{
	top: 0.7em;
}

.line3{
	top: 1.4em;
}

@media screen and (min-width: 770px){
	#menu_icon{
		display: none;
}
}