* {
  font-family: Montserrat;
}

#myNav {
}

#brand img {
  width: 35px;
}

#myNav {
  background-color: white;
  border: none;
  margin-top: 20px;
}

#nav-menu {
  margin-top: 13px;
  font-size: 16px;
}

#title-container {
  margin-top: 10px;
  font-size: 16px;
  padding-top: 100px;
}

.container {
  margin-top: 100px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

}

.text-center{
  text-align: center;
}

.project-container {
  margin-top: 200px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;  
}

.project-container p{
  line-height: 1.8;
}

.info-container {
  margin: auto;
  width: 70%;
  background-color: #eee;
  margin-top: 50px;

}

.photo-content .container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.proj-info {
  background-color: #eee;
}

#myNameScreens {
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
  text-align: center;
  margin-top: 0px;
  position: absolute;
  margin-bottom: 22px;
  left: 0;
  right: 0;
}

.nameScreen {
  position: relative;
  vertical-align: middle;
  padding: 5px;
  display: table-cell !important;
  top: 0;
}

.nameScreen:hover {
  position: relative;
  vertical-align: middle;
  padding: 5px;
  display: table-cell;
  top: 0;
  width: 50px;
  cursor: hand;
  cursor: pointer;
}

.nameScreen img {
  max-width: 100%;
}

#icon-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
  text-align: center;
  margin-top: 0px;
  position: absolute;
  margin-bottom: 22px;
  left: 0;
  right: 0;
  z-index: -1;
  width: 220px;
}

.icon {
  position: relative;
  vertical-align: middle;
  padding: 5px;
  display: table-cell;
  top: 0;
  top: -600px;
}

.icon:hover {
  position: relative;
  vertical-align: middle;
  padding: 5px;
  display: table-cell;
  top: 0;
  width: 80px;
  cursor: hand;
  cursor: pointer;
}

.icon img {
  max-width: 100%;
}

.hover-hand {
  cursor: hand;
  cursor: pointer; 
}

.icon-footage {
  display: inline-block;
}

.round-img {
  position: absolute;
  left: 0;
  right: 0;
  top: -600px;
}

.round-img img{
  width: 100px;
  border-radius: 50%;
}

.default-img {
  position: absolute;
  left: 0;
  right: 0;
  top: -600px;
}

.default-img img{
  width: 100px;
}

.centered-img {
  width: 100%;
}

#header {
  text-align: center;
  position: relative;
}

.thumbnails{        
  margin-bottom: 30px;
}

.thumbnails img{
// your styles for the images
    border: 1px solid #E7E7E7;
    border-radius: 5px 5px 0 0;
    border-bottom: 0px;
    width: 100%;
}

.thumbnails .caption {
  border: 1px solid #E7E7E7;
  border-radius: 0 0 5px 5px;
}

.thumbnails .caption h3{
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.thumbnails .caption p{
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
  color: gray;
}

.photos {
  margin-bottom: 30px;
}

.photos img{
  width: 100%;
}

.container-photo {
  margin-top: 100px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.myactive a{
  color: #ddd !important;
  
}

#footer #reserved {
  text-align: center;
}

.col-photo {

}

#personal-info img{
  width: 230px;
  float: right;
  margin: 0 0 10px 10px;
}

#personal-info p {
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.8;
}

.right {
  float: right;
}

.purple-button {
  border: 2px solid #5C2EB1;
  border-radius: 5px;
  padding: 6px;
  background-color: #FBF5FF;
  font-size: 14px;
  color: #5C2EB1 !important;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.purple-button:hover {
    background-color: #5C2EB1;
    color: white !important;
}



.project-head {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 500px;
  /*padding-top: 400px;*/
  /*padding-bottom: 25vh;*/
  text-align: center;
  color: white;
}


.project-head img{
  width: 100%;
}

.project-head .project-head-title {
  margin-top: 80px;
}

.buttom-nav {
  background-color: #eee;
}

.buttom-nav-container {
  padding-top: 50px;
}

.center {
  margin: auto;
  text-align: center;
  display: inline-block;

}

.center-inline {
  margin: auto;
  text-align: center;
}

.small-icon {
  width: 40px;
}

@media only screen and (min-width: 768px) {
  #nav-menu {
    margin-right: 20px;
  }
  #brand {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 990px) {
  #nav-menu {
    margin-right: 30px;
    
  }
  #brand {
    margin-left: 50px;
  }
}