<p id="page-description">I work part-time as a freelance graphic designer. Check out a selection of my design work below and feel free to <a href="mailto:{{ site.footer-links.email }}">hit me up</a> for a chat.</p>

<div id="works" class="typegrid-container">


    <h4>Logos</h4>

    {% assign i = 0 %}
    {% for item in site.logos %}
      <div class="desktop-4 columns item">
          <img class="logo-img" src="../images/portfolio/logos/{{ item.fileName }}.jpg" alt="" />
      </div><!-- // .desktop-6 -->
      {% assign i = i | plus: 1 %}

      {% assign j = i | modulo: 3 %}
      {% if j == 0 and i != 0 %}

          <div class="clear"></div>
      {% endif %}

    {% endfor %}

    <div class="clear"></div>

    <p class="text-center">Also check out icons I make on <a href="https://thenounproject.com/dr-susan723/" target="_blank">The Noun Project</a>. </p>

    <br>

    <h4>Illustrations</h4>

    {% assign i = 0 %}
    {% for item in site.illustrations %}
      <div class="desktop-6 columns item">
          <img class="logo-img" src="../images/portfolio/illustrations/{{ item.fileName }}.jpg" alt="" />
      </div><!-- // .desktop-6 -->
      {% assign i = i | plus: 1 %}

      {% assign j = i | modulo: 2 %}
      {% if j == 0 and i != 0 %}
          <div class="clear"></div>
      {% endif %}
    {% endfor %}

    <div class="clear"></div>

    <br>

  </div>
