
<article class="row">
	<div class="col-sm-12 main">
			<div class="page-header">
			  <h1>{{ page.title }}</h1>
			  <p>
				  {% if page.year %}{{ page.month }} {{ page.year }}{% endif %} |

					{% assign categories_list = page.categories %}
				  {% if categories_list.first[0] == null %}
					 {{ categories_list | join: ', ' }}
					{% endif %}
			  	<!-- {% for mate in page.teammates %}
			  	{% assign person = site.data.people[mate.name] %}
			  	{% if person.website %}<a href="{% if person.website %}{{ person.website }}{% endif %}" target="_blank"> {% endif %}
						{{ person.name }}{% if person.website %}</a>{% endif %}{% unless forloop.last %},{% endunless %}
			  	{% endfor %} -->
					<!-- {% if page.resources %} |
						{% for res in page.resources %}
							<a href= "{{ res.external-url }}" target="_blank">
								{% if res.resource contains "Video" %}
								<i class="fa fa-film" aria-hidden="true"></i>
								{% elsif res.resource contains "Paper" %}
								<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
								{% elsif res.resource contains "Poster" %}
								<i class="fa fa-file-image-o" aria-hidden="true"></i>
								{% elsif res.resource contains "Prototype" %}
								<i class="fa fa-globe" aria-hidden="true"></i>
								{% endif %}
								{{ res.resource }}
							</a>
						{% endfor %}
						{% endif %} -->
				</p>
			</div>
		</div>

	{% if page.categories contains 'UX' %}
	<div class="col-sm-3 vert-prog">
		<div class="post-det text-left">
		{% if page.problem %}
		<p class="vert-prog-title">Problem</p>
		<p>{{ page.problem }} </p>
		<br>
		{% endif %}

		{% if page.goal %}
		<p class="vert-prog-title">Goal</p>
		<p>{{ page.goal }} </p>
		<br>
		{% endif %}

		{% if page.methods %}
		<p class="vert-prog-title">Methodology</p>
		{% for m in page.methods %}
		<p> {{ m }}</p>
		{% endfor %}
		<br>
		{% endif %}

		{% if page.roles %}
		<p class="vert-prog-title">Role</p>
		{% for r in page.roles %}
		<p> {{ r }}</p>
		{% endfor %}
		<br>
		{% endif %}

		</div>
	</div>
	{% endif %}

	{% if page.categories contains 'UX' %}
	<div class="col-sm-9 main">
	{% else %}
	<div class="col-sm-12 main">
	{% endif %}
		{% if page.video %}
		<div class="video">
			<iframe src="{{ page.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		{% else %}
			{% if page.hero-img %}
			<div class="hero-img">
				<img src="{{ page.hero-img | prepend: site.baseurl }}">
			</div>
			{% else %}
				{% if page.hero == false %}

				{% else %}
				<div class="hero-img">
					<img src="{{ page.preview | prepend: site.baseurl }}">
				</div>
				{% endif%}
			{% endif %}
		{% endif %}

		<div class="article_body">
		{{ content }}
		</div>

	</div>



</article>
<div class="clearfix"></div>
