<article class="row" id="puiPortfolio">
	<div class="col-sm-12">
		{% for work in site.data.puiPortfolio %}
			<div class="thumbnail col-sm-3">
				<a href = "{{ work.workLink }}" target="_blank">
					<div class="wrapper">
						<img src = "{{ site.baseurl }}/images/PUITA/{{ work.file }}">
					</div>
					<hr class="divider">
					<div class="captions">
						{% if work.personalWebsite %}<a href = "{{ work.personalWebsite }}" target="_blank">{% endif %}<h4 style="color:#FF8C00"> Creator: {{ work.author }} </h4> {% if work.personalWebsite %}</a> {% endif %}
						<p> {{ work.description }} </p>
					</div>
				</a>
			</div>
			<div class="thumbnail col-sm-1">
			</div>
		{% endfor %}
	</div>
</article>
