/*--------------------------------------------------------------------------
  1. Grid System
--------------------------------------------------------------------------*/
.typegrid-container {
  position: relative;
}
/* Container */
.typegrid-container {
  width: 100%;
  margin: 0 auto;
  /* Columns */

}
.typegrid-container .column,
.typegrid-container .columns {
  float: left;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.typegrid-container .column.nest,
.typegrid-container .columns.nest,
.typegrid-container .column.nested,
.typegrid-container .columns.nested {
  padding-left: 0;
  padding-right: 0;
}
.desktop-1 {
  width: 8.3333%;
}
.desktop-2 {
  width: 16.66667%;
}
.desktop-3 {
  width: 25%;
}
.desktop-4 {
  width: 33.3333%;
}
.desktop-6 {
  width: 50%;
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.typegrid-container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
